<h2>Gestión de Roles
<form [formGroup]="form" class="formulario">
 
    <div class="fila">
        <label>Nombre</label>
        <input formControlName="nombre" placeholder="Nombre completo" />
        @if (form.get('nombre')?.touched && form.get('nombre')?.invalid) {
        <small class="val"> El nombre es obligatorio.</small>
        }
    </div>

    <div class="fila">
        <label>Correo</label>
        <input formControlName="correo" placeholder="correo@ejemplo.com" type="email" />
        @if (form.get('correo')?.touched && form.get('correo')?.hasError('required')) {
        <small class="val"> El correo es obligatorio.</small>
        } @else if (form.get('correo')?.touched && form.get('correo')?.hasError('email')) {
        <small class="val"> Formato de correo inválido.</small>
        }
    </div>

    <div class="fila">
        <label>Teléfono</label>
       <input formControlName="telefono" placeholder="3001234567" />
        @if (form.get('telefono')?.touched && form.get('telefono')?.hasError('required')) {
        <small class="val"> El teléfono es obligatorio.</small>
        } @else if (form.get('telefono')?.touched && form.get('telefono')?.hasError('pattern')) {
        <small class="val">Solo dígitos (7–15).</small>
        }
    </div>

    <div class="fila">
        <label>Fecha Registro</label>
        <input formControlName="fechaRegistro" type="date" />
        @if (form.get('fechaRegistro')?.touched && form.get('fechaRegistro')?.hasError('required')) {
        <small class="val"> La fecha es obligatoria.</small>
        }
    </div>
</form>